<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam,
        voluptatem optio qui quas cum amet eum debitis, dolorem temporibus
        molestiae aliquid esse corporis quod facere eius tenetur placeat nostrum
        cumque.
      </p>
    </div>
    <a href="" class="btn btn--secondary btn--stretched">Get started</a>
  </div>
</div>
